.card {
    box-shadow: 0 6px 20px rgba(17, 26, 104, .2) !important;
    padding: 10px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-dashboard {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.05), 0 4px 24px 0 rgba(0,0,0,.1) !important;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .card {
        border-radius: 10px;
    }
}

.logo {
    display: block;
    width: 150px;
    margin: auto;
}

.logo-dashboard {
    width: 80px;
}

.table-responsive {
    font-size: 12px;
}

.logout {
    background: #ffa624;
    border-radius: 100px;
    color: #fff !important;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.05), 0 4px 24px 0 rgba(0,0,0,.1) !important;
}

.text-shadow{
    text-shadow: 2px 2px #ab8c8c;
}