.error-message {
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
}

.pages-layoutv1 {
    background: url('../../assets/images/pages/vuesax-login-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    min-height: 100vh;

    .img-login {
        background-color: #ffa624;
        background-image: url('../../assets/images/pages/login.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 6px 20px rgba(17, 26, 104, .2) !important;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .logo {
        display: block;
        width: 150px;
        margin: auto;
    }

    .fs-12 {
        font-size: 12px;
    }

    .color-primary {
        color: #ffaa24 !important;
    }

    .form-groups {
        display: flex;
        margin-bottom: 15px;
        position: relative;

        .form-icons {
            color: #ffaa24;
            position: absolute;
            top: 7px;
            left: 10px;
            width: 20px;
        }

        .form-controls {
            padding: 10px;
            padding-left: 40px;
            outline: none;
            border: 1px solid transparent;
            font-size: 12px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);

            &:focus {
                border: 1px solid #F8D046;
            }

        }
    }

    .form-group {
        .form-control {
            font-size: 12px;
            box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            height: 40px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .form-control:focus {
            border-color: #e8e8e8;
            box-shadow: none;
            box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .btn-primary {
        font-size: 12px;
        background: #ffaa24 !important;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid transparent !important;

        &:active {
            background: #FBE76E !important;
            color: #fff;
        }

        &:focus {
            color: #fff;
            box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5) !important;
        }
    }

    .btn-info {
        font-size: 12px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid transparent !important;

        &:active {
            color: #fff;
        }

        &:focus {
            color: #fff;
            box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5) !important;
        }
    }
}

.landingPage {
    background: #f1f1f1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    .img-login {
        background-color: #ffa624;
        background-image: url('../../assets/images/pages/login.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 6px 20px rgba(17, 26, 104, .2) !important;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .logo {
        display: block;
        width: 150px;
        margin: auto;
    }

    .fs-12 {
        font-size: 12px;
    }

    .color-primary {
        color: #ffaa24 !important;
    }

    .form-groups {
        display: flex;
        margin-bottom: 15px;
        position: relative;

        .form-icons {
            color: #ffaa24;
            position: absolute;
            top: 7px;
            left: 10px;
            width: 20px;
        }

        .form-controls {
            padding: 10px;
            padding-left: 40px;
            outline: none;
            border: 1px solid transparent;
            font-size: 12px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);

            &:focus {
                border: 1px solid #F8D046;
            }

        }
    }

    .form-group {
        .form-control {
            font-size: 12px;
            box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            height: 40px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .form-control:focus {
            border-color: #e8e8e8;
            box-shadow: none;
            box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .btn-primary {
        font-size: 12px;
        background: #ffaa24 !important;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid transparent !important;

        &:active {
            background: #FBE76E !important;
            color: #fff;
        }

        &:focus {
            color: #fff;
            box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5) !important;
        }
    }

    .btn-info {
        font-size: 12px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid transparent !important;

        &:active {
            color: #fff;
        }

        &:focus {
            color: #fff;
            box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5) !important;
        }
    }    
}

