@import './layoutv1.scss';
@import './layoutv2.scss';
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}