<template>
	<div id="error" class="pages-layoutv1">
		<div class="container text-center text-white pt-5">
			<img src="@/assets/images/pages/404.png" class="img-responsive" style="width: 350px"> <br>
			Mohon maaf halaman yang anda cari tidak dapat ditemukan... <br><br>
			<button class="btn btn-info" @click="$router.push('/')">Kembali ke halaman sebelumnya</button>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
            value1: ''
		}
	}
}
</script>