<template>
	<div id="login" class="pages-layoutv1">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 mt-5">
					<div class="mt-5"></div>
					<div class="row no-gutters">
						<div class="col-md-6">
							<div class="img-login"></div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<h5>Login</h5>
									<hr>
									<p class="fs-12">Silahkan login menggunakan akun yang anda miliki</p>
									<div class="form-groups">
										<mail-icon class="form-icons"></mail-icon>
										<input type="email" class="form-controls w-100" name="email" placeholder="Email"
											v-model="username">
									</div>
									<div class="error-message" v-if="validation.hasError('username')">
										{{ validation.firstError('username') }}
									</div>
									<div class="form-groups mb-2">
										<lock-icon class="form-icons"></lock-icon>
										<input type="password" class="form-controls w-100" name="password"
											placeholder="Password" v-model="password" v-on:keyup.enter="login">
									</div>
									<div class="error-message" v-if="validation.hasError('password')">
										{{ validation.firstError('password') }}
									</div>
									<button class="btn btn-link ml-auto d-block text-right fs-12 color-primary"
										@click="$router.push('/forget')">Lupa
										password?</button>
									<button class="btn btn-sm w-100 btn-primary" @click.prevent="login">
										Login
									</button>
									<a href="javascript:;" @click="$router.push('/register')"
										class="btn btn-link m-auto d-block mt-5 fs-12 color-primary">Buat
										akun</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue'
	import SimpleVueValidation from 'simple-vue-validator'
	import {
		MailIcon,
		LockIcon
	} from 'vue-feather-icons'
	const Validator = SimpleVueValidation.Validator
	Vue.use(SimpleVueValidation)

	export default {
		data() {
			return {
				username: '',
				password: '',
			}
		},
		validators: {
			username: {
				cache: true,
				debounce: 500,
				validator: function (value) {
					return Validator.value(value).required()
				}
			},
			password: {
				cache: true,
				debounce: 500,
				validator: function (value) {
					return Validator.value(value).required()
				}
			}
		},
		components: {
			'mail-icon': MailIcon,
			'lock-icon': LockIcon
		},
		methods: {
			login: function () {
				this.$validate().then(result => {
					if (result) {
						let loading = this.$loading.show({
							color: '#ffa624',
							width: 50,
							height: 50
						})
						let username = this.username
						let password = this.password
						this.$store.dispatch('auth/login', {
								username,
								password
							})
							.then(() => {
								loading.hide()
								this.$router.push('/')
							})
							.catch(err => {
								this.$bvToast.toast([
									err.response ? err.response.data.message :
									'Terjadi kesalahan silahkan coba lagi, ' + err,
								], {
									title: ['Registrasi gagal'],
									solid: true,
									variant: 'danger'
								})
								loading.hide()
							})
					}
				})
			},
		}
	}
</script>