<template>
	<div id="register" class="pages-layoutv1">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-12">
					<div class="mt-5"></div>
					<div class="row no-gutters">
						<div class="col-md-6">
							<div class="img-login"></div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<p class="fs-12 text-center">Silahkan masukkan data dibawah dengan benar</p>
									<div class="form-groups">
										<user-icon class="form-icons"></user-icon>
										<input type="text" class="form-controls w-100" placeholder="Name"
											v-model="form.name">
									</div>
									<div class="error-message" v-if="validation.hasError('form.name')">
										{{ validation.firstError('form.name') }}
									</div>
									<div class="form-groups">
										<phone-icon class="form-icons"></phone-icon>
										<input type="text" class="form-controls w-100" placeholder="Phone"
											v-model="form.phone">
									</div>
									<div class="error-message" v-if="validation.hasError('form.phone')">
										{{ validation.firstError('form.phone') }}
									</div>
									<div class="form-groups">
										<map-pin-icon class="form-icons"></map-pin-icon>
										<input type="text" class="form-controls w-100" placeholder="Address"
											v-model="form.address">
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-groups">
												<map-pin-icon class="form-icons"></map-pin-icon>
												<input type="text" class="form-controls w-100" placeholder="City"
													v-model="form.city">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-groups">
												<map-pin-icon class="form-icons"></map-pin-icon>
												<input type="text" class="form-controls w-100" placeholder="Country"
													v-model="form.country">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-groups">
												<map-pin-icon class="form-icons"></map-pin-icon>
												<input type="text" class="form-controls w-100" placeholder="Postal Code"
													v-model="form.postcode">
											</div>
											<div class="error-message" v-if="validation.hasError('form.postcode')">
												{{ validation.firstError('form.postcode') }}
											</div>
										</div>
									</div>
									<hr>
									<div class="form-groups">
										<user-icon class="form-icons"></user-icon>
										<input type="text" class="form-controls w-100" placeholder="Username"
											v-model="form.username">
									</div>
									<div class="error-message" v-if="validation.hasError('form.username')">
										{{ validation.firstError('form.username') }}
									</div>
									<div class="form-groups">
										<mail-icon class="form-icons"></mail-icon>
										<input type="text" class="form-controls w-100" placeholder="Email"
											v-model="form.email">
									</div>
									<div class="error-message" v-if="validation.hasError('form.email')">
										{{ validation.firstError('form.email') }}
									</div>
									<div class="form-groups mb-2">
										<lock-icon class="form-icons"></lock-icon>
										<input type="password" class="form-controls w-100" placeholder="Password"
											v-model="password">
									</div>
									<div class="error-message" v-if="validation.hasError(password)">
										{{ validation.firstError(password) }}
									</div>
									<button class="btn btn-sm w-100 btn-primary" @click.prevent="daftar">
										Daftar
									</button>
									<a href="#" class="btn btn-link m-auto d-block mt-5 fs-12 color-primary"
										@click="$router.push('/login')">Sudah punya
										akun</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue'
	import SimpleVueValidation from 'simple-vue-validator'
	import {
		MailIcon,
		LockIcon,
		UserIcon,
		PhoneIcon,
		MapPinIcon,
	} from 'vue-feather-icons'
	const Validator = SimpleVueValidation.Validator
	Vue.use(SimpleVueValidation)

	export default {
		data() {
			return {
				form: {
					username: '',
					email: '',
					phone: '',
					address: '',
					city: '',
					country: '',
					name: '',
					postcode: '',
				},
				password: '',
				password_confirmation: ''
			}
		},
		mounted() {

		},
		validators: {
			'form.name': {
				cache: true,
				debounce: 500,
				validator: function (value) {
					return Validator.value(value).required()
				}
			},
			'form.phone': {
				cache: true,
				debounce: 500,
				validator: function (value) {
					return Validator.value(value)().digit()
				}
			},
			'form.email': {
				cache: true,
				debounce: 500,
				validator: function (value) {
					return Validator.value(value).required().email()
				}
			},
			'form.username': {
				cache: true,
				debounce: 500,
				validator: function (value) {
					return Validator.value(value).required()
				}
			},
			'form.postcode': {
				cache: true,
				debounce: 500,
				validator: function (value) {
					return Validator.value(value).digit()
				}
			},
			password: {
				cache: true,
				debounce: 500,
				validator: function (value) {
					return Validator.value(value).required().minLength(8)
				}
			},
		},
		components: {
			'mail-icon': MailIcon,
			'lock-icon': LockIcon,
			'user-icon': UserIcon,
			'phone-icon': PhoneIcon,
			'map-pin-icon': MapPinIcon
		},
		methods: {
			daftar: function () {
				this.submitForm()
			},
			submitForm: function () {
				let loading = this.$loading.show({
					color: '#ffa624',
					width: 50,
					height: 50
				})
				this.saveUser()
					.then(async () => {
						loading.hide()
						this.$bvToast.toast([
							'Selamat akun anda berhasil terdaftar, silahkan login.'
						], {
							title: ['Registrasi berhasil'],
							solid: true,
							variant: 'success'
						})
						this.$router.push("/")
					})
					.catch((err) => {
						this.$bvToast.toast([
							err.response ? err.response.data.message :
							'Terjadi kesalahan silahkan coba lagi, ' + err,
						], {
							title: ['Registrasi gagal'],
							solid: true,
							variant: 'danger'
						})
						loading.hide()
					});
			},
			saveUser: function () {
				return new Promise((resolve, reject) => {
					const send = {
						username: this.form.username,
						email: this.form.email,
						encrypted_password: this.password,
						phone: this.form.phone,
						address: this.form.address,
						city: this.form.city,
						country: this.form.country,
						name: this.form.name,
						postcode: this.form.postcode,
					};
					this.$http({
							url: "signup",
							data: send,
							method: "POST"
						})
						.then(resp => {
							resolve(resp);
						})
						.catch(err => {
							reject(err);
						});
				});
			},
		}
	}
</script>