<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <link rel="icon" href="<%= BASE_URL %>icon.ico">
  <title>Test</title>
  <style>
    body,
    html {
      height: 100%;
      width: 100%;
      margin: 0;
      color: #525252;
      overflow-x: hidden;
      background-color: #f7fafc;
    }
  </style>
</head>

<body>
  <noscript>
    <strong>Sorry nih konten nya disabled oke.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>